<ion-navbar *navbar>
    <ion-title>
        {{recipe.name}}
    </ion-title>
    <ion-buttons end>
        <button (click)="deleteRecipe()" item-left>Delete
        </button>
        <button (click)="editRecipe()" item-right>Edit
        </button>
    </ion-buttons>
</ion-navbar>
<ion-content class="page2">
    <h3>Total Grain Bill: {{grainTotal()}} lbs</h3>
    <ion-list>
        <ion-list-header> Grains </ion-list-header>
            <ion-item *ngFor="#grain of recipe.grains">
            <ion-icon name="beer" item-left></ion-icon>
                <h2>{{grain.name}}</h2>
                <p>Amount: {{grain.amount}} lbs </p>
            </ion-item>
        <ion-list-header> Hops </ion-list-header>
            <ion-item *ngFor="#hop of recipe.hops">
            <ion-icon name="leaf" item-left></ion-icon>
                {{hop.name}}
                <p>
                Amount: {{hop.amount}} oz
                </p>
                <h2 item-right>
                <ion-icon name="time" item-center></ion-icon>
                {{hop.time}} min
                </h2>
            </ion-item>
        </ion-list>
    <div>
        <h3>Total Vol: {{totalVol | number }}</h3>
        <h3>Mash Vol: {{mashVol | number }}</h3>
        <h3>Sparge Vol: {{spargeVol | number }}</h3>
    </div>

</ion-content>
